{
    email {$ACME_EMAIL}
}

{$PUBLIC_HOST} {
    encode zstd gzip

    header {
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
        X-Frame-Options "DENY"
    }

    reverse_proxy astell:8080 {
        header_up Authorization {http.request.header.Authorization}
    }
}
